In [1]:
import fileparse

In [2]:
help(fileparse)

Help on module fileparse:

NAME
    fileparse - # fileparse.py

FUNCTIONS
    parse_csv(nombre_archivo, select=None, types=None, has_headers=False)
        Parsea un archivo CSV en una lista de registros.
        Se puede seleccionar sólo un subconjunto de las columnas, determinando el parámetro select, que debe ser una lista de nombres de las columnas a considerar.

FILE
    c:\users\manuelklug\documents\manu\github\learning\python unsam\clase 5\fileparse.py

In [3]:
camion = fileparse.parse_csv('../Data/camion.csv',select=['nombre','cajones','precio'], types=[str,int,float], has_headers=True)
camion

[{'nombre': 'Lima', 'cajones': 100, 'precio': 32.2},
 {'nombre': 'Naranja', 'cajones': 50, 'precio': 91.1},
 {'nombre': 'Caqui', 'cajones': 150, 'precio': 103.44},
 {'nombre': 'Mandarina', 'cajones': 200, 'precio': 51.23},
 {'nombre': 'Durazno', 'cajones': 95, 'precio': 40.37},
 {'nombre': 'Mandarina', 'cajones': 50, 'precio': 65.1},
 {'nombre': 'Naranja', 'cajones': 100, 'precio': 70.44}]

In [4]:
from fileparse import parse_csv

In [5]:
camion = parse_csv('../Data/camion.csv', select=['nombre','cajones','precio'], types=[str,int,float], has_headers=True)
camion

[{'nombre': 'Lima', 'cajones': 100, 'precio': 32.2},
 {'nombre': 'Naranja', 'cajones': 50, 'precio': 91.1},
 {'nombre': 'Caqui', 'cajones': 150, 'precio': 103.44},
 {'nombre': 'Mandarina', 'cajones': 200, 'precio': 51.23},
 {'nombre': 'Durazno', 'cajones': 95, 'precio': 40.37},
 {'nombre': 'Mandarina', 'cajones': 50, 'precio': 65.1},
 {'nombre': 'Naranja', 'cajones': 100, 'precio': 70.44}]

In [6]:
precios = parse_csv('../Data/precios.csv', types=[str, float], has_headers=False)

In [7]:
precios

[('Lima', 40.22),
 ('Uva', 24.85),
 ('Ciruela', 44.85),
 ('Cereza', 11.27),
 ('Frutilla', 53.72),
 ('Caqui', 105.46),
 ('Tomate', 66.67),
 ('Berenjena', 28.47),
 ('Lechuga', 24.22),
 ('Durazno', 73.48),
 ('Remolacha', 20.75),
 ('Habas', 23.16),
 ('Frambuesa', 34.35),
 ('Naranja', 106.28),
 ('Bruselas', 15.72),
 ('Batata', 55.16),
 ('RÃºcula', 36.9),
 ('Radicheta', 26.11),
 ('Repollo', 49.16),
 ('Cebolla', 58.99),
 ('CebollÃ\xadn', 57.1),
 ('Puerro', 27.58),
 ('Mandarina', 80.89),
 ('Ajo', 15.19),
 ('Rabanito', 51.94),
 ('Zapallo', 24.79),
 ('Espinaca', 52.61),
 ('Acelga', 29.26),
 ('Zanahoria', 49.74),
 ('Papa', 69.35)]