## Parte 3 - Indexes

Importando Pandas:

In [1]:
import pandas as pd

Creando el DataFrame

In [2]:
diccionario = {"nombres": ["Manuel", "Tomás", "Sebastián"],
              "edad": [23, 23, 22],
              "mails": ["mk@g.com", "tm@g.com", "st@g.com"]}

In [5]:
df = pd.DataFrame(diccionario)

In [6]:
df

     nombres  edad     mails
0     Manuel    23  mk@g.com
1      Tomás    23  tm@g.com
2  Sebastián    22  st@g.com

### Modificando el Index

In [7]:
df["mails"]

0    mk@g.com
1    tm@g.com
2    st@g.com
Name: mails, dtype: object

In [8]:
df.set_index("mails")

            nombres  edad
mails
mk@g.com     Manuel    23
tm@g.com      Tomás    23
st@g.com  Sebastián    22

In [9]:
df

     nombres  edad     mails
0     Manuel    23  mk@g.com
1      Tomás    23  tm@g.com
2  Sebastián    22  st@g.com

In [17]:
df.set_index("nombres", inplace=True)

In [11]:
df

           edad     mails
nombres
Manuel       23  mk@g.com
Tomás        23  tm@g.com
Sebastián    22  st@g.com

#### Atributo .index

In [12]:
df.index

Index(['Manuel', 'Tomás', 'Sebastián'], dtype='object', name='nombres')

### Accediendo a las filas con LOC.

In [13]:
df.loc["Manuel"]

edad           23
mails    mk@g.com
Name: Manuel, dtype: object

In [14]:
df.loc["Manuel", "edad"]

23

### Ordenar alfabéticamente el index

In [18]:
df.sort_index()

           edad     mails
nombres
Manuel       23  mk@g.com
Sebastián    22  st@g.com
Tomás        23  tm@g.com

### Reseteando el index

In [15]:
df.reset_index(inplace=True)

In [16]:
df

     nombres  edad     mails
0     Manuel    23  mk@g.com
1      Tomás    23  tm@g.com
2  Sebastián    22  st@g.com